In [1]:
import graphlab

In [2]:
sales = graphlab.SFrame('kc_house_data.gl')

[INFO] 1450515699 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_FILE to /home/him/anaconda2/envs/dato-env/lib/python2.7/site-packages/certifi/cacert.pem
1450515699 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_DIR to
This non-commercial license of GraphLab Create is assigned to hmishra2250@gmail.com and will expire on December 02, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-4019 - Server binary: /home/him/anaconda2/envs/dato-env/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1450515699.log
[INFO] GraphLab Server Version: 1.7.1

In [3]:
train_data,test_data = sales.random_split(0.8,seed=0)

In [4]:
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [12]:
def simple_linear_regression(input_feature,output):
    sigmaxi = input_feature.sum()
    print sigmaxi
    sigmayi = output.sum()
    print sigmayi
    sigmaxiyi = (input_feature*output).sum()
    print sigmaxiyi
    sigmaxisq = (input_feature*input_feature).sum()
    print sigmaxisq
    N = len(input_feature)
    print N
    w1 = (N*sigmaxiyi-sigmaxi*sigmayi)/(N*sigmaxisq-sigmaxi*sigmaxi)
    w0 = output.mean()-w1*(input_feature.mean())
    print "Intercept: "+str(w0)
    print "Slope: "+str(w1)
    return (w0,w1)

In [13]:
test_feature = graphlab.SArray(range(5))
test_out = graphlab.SArray(1+1*test_feature)
(test_intercept,test_slope) = simple_linear_regression(test_feature,test_out)
print "Intercept: "+str(test_intercept)
print "Slope: "+str(test_slope)

10
15
40
30
5
Intercept: 1.0
Slope: 1
Intercept: 1.0
Slope: 1

In [14]:
sqft_intercept,sqft_slope = simple_linear_regression(train_data['sqft_living'],train_data['price'])

36159233.0
9376349465.0
2.36662568479e+13
89977452623.0
17384
Intercept: -47116.0765749
Slope: 281.958838568

In [15]:
def get_regression_predictions(input_feature,w0,w1):
    return w0+w1*input_feature

In [27]:
print "%.2f" %(get_regression_predictions(2650,sqft_intercept,sqft_slope))

700074.85

In [17]:
def RSS(input_feature,output,w0,w1):
    pred_y = w0+w1*input_feature
    temp = (output-pred_y)
    temp = temp*temp
    return temp.sum()

In [18]:
RSS(test_feature,test_out,test_intercept,test_slope)

0.0

In [19]:
print "Value of RSS is "+str(RSS(train_data['sqft_living'],train_data['price'],sqft_intercept,sqft_slope))

Value of RSS is 1.20191835632e+15

In [20]:
RSS(train_data['sqft_living'],train_data['price'],sqft_intercept,sqft_slope)

1201918356321967.8

# Predict squarefeet given price

In [21]:
def inverse_regression_predictions(output,w0,w1):
    return (output-w0)/w1

In [28]:
print "%.2f" %(inverse_regression_predictions(800000,sqft_intercept,sqft_slope))

3004.40

In [23]:
bed_intercept,bed_slope = simple_linear_regression(train_data['bedrooms'],train_data['price'])

58573.0
9376349465.0
33414715671.0
211637.0
17384
Intercept: 109473.180469
Slope: 127588.952175

In [25]:
RSS_sqft = RSS(test_data['sqft_living'],test_data['price'],sqft_intercept,sqft_slope)
RSS_bed = RSS(test_data['sqft_living'],test_data['bedrooms'],bed_intercept,bed_slope)

In [26]:
print RSS_sqft, RSS_bed

2.75402936247e+14 3.54320240627e+20